<div class="container d-flex flex-column">
  <h1 class="text-center">À propos de FreezAir</h1>

  <h2 class="text-center">Notre mission</h2>
  <p>
    Chez FreezAir, notre mission est claire : améliorer le confort et la qualité de vie de nos clients grâce à des solutions en ventilation et climatisation. Chaque projet que nous réalisons est guidé par nos trois principes fondamentaux :
  </p>
  <ul>
    <li><strong>Technologie de pointe</strong> : Nous proposons des équipements innovants, conçus pour optimiser les performances et réduire l'impact environnemental.</li>
    <li><strong>Économies d'énergie</strong> : Nous nous engageons à mettre à votre disposition des solutions efficientes qui réduisent vos factures énergétiques tout en respectant l’environnement.</li>
    <li><strong>Durabilité</strong> : Collaborant avec les marques les plus reconnues du secteur, nous mettons un point d'honneur à vous fournir des équipements fiables et durables.</li>
  </ul>
  <hr>
  <h2 class="text-center ">Pour tous vos besoins</h2>
  <p>
    Que vous soyez un particulier, un professionnel, ou une industrie ayant des exigences complexes, FreezAir est à vos côtés.
    Nous proposons une gamme complète de services, incluant :
  </p>
  <ul>
    <li><strong>Conseil personnalisé</strong> : Nos experts identifient les meilleures solutions adaptées à vos besoins spécifiques.</li>
    <li><strong>Installation sur mesure</strong> : Nous garantissons que chaque installation est réalisée suivant les normes les plus rigoureuses.</li>
    <li><strong>Entretien et maintenance</strong> : Pour garantir la longévité et l'efficacité des systèmes, notre équipe assure un suivi proactif et réactif.</li>
  </ul>
  <hr>
  <h2 class="text-center ">Notre vision</h2>
  <p>
    Nous croyons fermement que l'accès à un air pur et un confort thermique exceptionnel devraient être à la portée de tous.
    C'est pourquoi nous construisons des solutions de qualité accessibles, sans compromis sur les performances ou l’impact écologique.
    Privilégiant les technologies modernes et un service client d’exception, FreezAir redéfinit ce que signifie le bien-être thermique.
  </p>
  <hr>
  <h2 class="text-center ">Pourquoi choisir FreezAir ?</h2>
  <ul>
    <li><strong>Expertise certifiée</strong> : Notre équipe est composée de spécialistes passionnés et hautement qualifiés.</li>
    <li><strong>Fiabilité éprouvée</strong> : Nous avons gagné la confiance de nombreux clients grâce à notre engagement constant envers l’excellence.</li>
    <li><strong>Satisfaction garantie</strong> : Chez FreezAir, votre satisfaction n’est pas une option, elle est une priorité.</li>
  </ul>

</div>
