<div class="d-flex justify-content-center">
  <form
    class="d-flex w-100 justify-content-evenly"
    (ngSubmit)="onFormSubmit(searchForm.value)"
    #searchForm="ngForm"
  >
    <input type="text" name="searchName" placeholder="Rechercher un produit" ngModel>
    <input type="number" name="searchPriceMin" placeholder="Prix minimum" ngModel>
    <input type="number" name="searchPriceMax" placeholder="Prix maximum" ngModel>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Sélectionnez des catégories
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li *ngFor="let category of categories">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [id]="category"
              [value]="category"
              (change)="onCategorySelect($event)"
            />
            <label class="form-check-label" [for]="category">
              {{ category }}
            </label>
          </div>
        </li>
      </ul>
    </div>
    <button id="filterbtn" class="btn btn-primary" type="submit">Rechercher</button>
  </form>
</div>
<h1 class="text-center"><strong>Nos produits</strong></h1>
<app-home-cards [items]="items" [filters]="filters"></app-home-cards>
